* {
    margin: 0;
    padding: 0;
    font-family: helvetica ;
    box-sizing: border-box;
}

body {
    background-color: #f5f3f3; 
}
.navbar {
    background-color: #f85606;
    height: 118px;
}

.nav-links {
    height: 25px;
    color : white;
    font-size: 12px;
    display: flex;
    justify-content:end;
    align-items: center;
    
}

.nav-links a {
    padding-left: 17px;
    padding-right: 17px;
   
}

.second-nav {
    display: flex;
    justify-content: space-between;
    padding-top:11px ;
    margin-left: 108px;
    margin-right: 108px;
    justify-content: start;
}

.log {
    width: 200px;
}
.logo {
    height: 45px;
    width: 150px;
    /* background-color: aliceblue; */
    background-image: url(logo.png);
    background-size: cover;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 688px;
    height: 45px;
}


.search-input {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 10px;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    height:45px;
    width: 45px;
    background-color: #FFE1D2;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#f85606;
    font-size: 1.3rem;
    
}

.cart {
    
    width: 40px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.3rem;
}

.banner {
    height: 344px ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img {
    height: 334px;
    width: 988px;
    background-image: url(bannerpics/banner.webp);
    background-size: cover;
    /* margin-left: 108px; */
    
}

.banner-im {
    height: 334px;
    width: 194px;
    background-image: url(bannerpics/side.png);
    background-size: cover;
    display: block;
}

.sale-banner {
    height: 437px;
    margin-left: 107px;
    margin-right: 107px;
    padding-top: 24px;
    background-color: rgb(255, 255, 255);
}

.para-pro {
    height: 38px;
    font-size: 22px;
    color: #424242;
}

.sale-sag {
    height: 60px;
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom:0.7px solid #d1d1d1 ;
}

.sale-right {
    height: 59px;
    width: 105.13px;
    font-size: 16spx;
    color: #f57224;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
}

.sale-left {
    height: 35px;
    width: 167.6px;
    margin-top: 13px;
    margin-right: 11px;
    border: 0.7px solid #f57224;
    border-radius: 1.5px;
    color: #f57224;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-content {
  height: 290px;
  display: flex;
  flex-wrap: wrap; /* important */
  
}

.container {
  height: 290px;
  width: 188px;
  background-color: white;
  margin-right: 12px;
}

.container a {
    text-decoration: none;
}


.container-img {
    height: 188px;
    width: 186px;
}
.container-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container-text p {
    height: 36px;
    width: 172px;
    font-size: 14px;
    color: black;
    margin-bottom: 4px;
    text-decoration: none;
}

.card-price {
    height: 22px;
    width: 172px;
    margin-bottom: 4px;
}

.price {
    color: #f57224;
    font-size: 18px;
}

.orignal-price {
    height: 12px;
    width: 172px;
}

.orignal {
    font-size: 12px;
    color: #9e9e9e;
    text-decoration: line-through;
}

.discount {
    font-size: 12px;
    color: #212121;
    margin-left: 4px;
}

.border {
    border: 0.5px solid transparent;
    box-sizing: border-box;
}

.border:hover {
    border: 0.5px solid #b1afaf;
    
}

.page {
    padding-right: 15px ;
    padding-left: 4px;
    background-color: #f5f3f3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

.categories-section {
    height: 359px;
    padding-top: 24px;
    margin-left: 107px;
    margin-right: 107px;
}

.heading {
    height: 38px ; 
    color: #525252; 
    font-size: 22px; 
    display: flex;
    align-items: center;
}

.cate-container {
    height: 295px;
    width: 1188px;
    background-color:rgb(206, 206, 206) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cate-item {
    height: 147.01px;
    width: 147.6px;
    background-color: rgb(255, 255, 255);
}

.cate-content {
    height: 146px;
    width: 146px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
}

.name p {
    height: 36px;
    width: 123px ;
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 14px;
    font-family: 'regular' 'apple-system';
}

.cate-content img {
    height: 80px;
    width: 80px;
}

.product-section {
    height: auto;
    width: 1188px;
    padding-top: 24px;
    margin-left: 107px;
    margin-right: 107px;
}

.product-heading {
    height: 38px;
    color: #525252;
    font-size: 22px;
}

.product-container {
    height: auto;
    width: 1188px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
}

.product-deatials{
    height: 292.52px;
    width: 189px;
    display: flex;
    justify-content: space-between;
}
.product-deatials  a {
    height: 292.52px;
    width: 189px;
    margin-right: 10.5px;
    margin-bottom: 20px;
    
}

.product-img img {
    height: 189px;
    width: 187px;
    object-fit: cover;
    display: inline-flex;
}

.product-text {
    height: 98.2px;
    width: 189px;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 12px;
}

.product-card-price {
    margin-top: 4px;
}

.load-more {
    height: 73px;
    width: 1188px;
    padding-top: 24px;
    padding-bottom: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 107px;
    margin-right: 107px;
}

.load-btn {
    height: 40px;
    width: 387px;
    margin-left: 400.5px;
    margin-right: 400.5px;
    color: #1a9cbb;
    border: 0.5px solid #1a9cbb;
    border-radius: 1px;
    font-size: 14px;

}

.first-footer {
    height: 318px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: white;
}

.footer-inner {
    height: 273px;
    margin-left: 114.5px;
    margin-right: 114.5px;
    background-color:white;
    display: flex;
}

.footer-tittle {
    height: 35px;
    width: 297px;
    color: #0f136d;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

.footer-column ul {
    list-style: none;
    color: #0f136d;
    font-size: 12px;
}

.f-footer-left {
    height: 120px;
    width: 594px;
    display: flex;
    align-items: center;
}

.app-download {
    height: 36.48px;
    width: 159.17px;
    padding-left: 15px;
    padding-right: 15px;
}

.app-tittle {
    font-size: 16px;
    color: #f36f36;
}

.app-text {
    font-size: 14px;
    color: #0f136d;
    padding-top: 2px;
}

#app-img {
    width: 42px;
    height: 42px;
}

.pull-left {
    height: 95px;
    width: 290px;
}

.sec-footer {
    height: 159.2px;
    padding-top: 20px;
    padding-bottom: 25px;
}

.sec-inner-footer {
    height: 114.2px;
    color: #999999;
    margin-right: 114.2px;
    margin-left: 114.2px;
    display: flex;
}

.sec-footer-right {
    height: 114.2px;
    width: 380.16px;
}

.footer-h3 {
    height: 35.2px;
    font-size: 16px;
    margin-bottom: 15px;
    color: #183544;
    display: flex;
    align-items: center;
}

.footer-payment {
    height: 64px;
    font-size: 12px;
    margin-right: 20px;
}

.footer-payment img {
    height: 28px;
}

.sec-footer-left {
    height: 101.2px;
    width: 380.16px;
}

.footer-veri {
    height: 51px;
}

.footer-veri img {
    height: 51px;
    width: 73px;
    font-size: 14px;
    margin-right: 14px;
}

.third-footer {
    height:137.97px;
    width: 1733.33px;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-inner-third {
    height: 58px;
    margin-left: 114.5px;
    margin-right: 114.5px;
    color: #606060;
    display: flex;
}

.footer-left-side {
    height: 58px;
    width: 594px;
    color: #606060;
}

.footer-tittle-h3 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.footer-list {
    height: 28px;
    width: 594px;
}

.con {
    height: 28px;
    font-size: 14px;
}

.con img {
    height: 28px;
    width: 28px;
}

.con span {
    margin-left: 7px;
    margin-right: 15px;
    font-size: 14px;
}

.footer-right-side {
    height: 58px;
    width: 297px;
}

.footer-right-h3 {
    height: 20.1px;
    width: 287px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.footer-right-list {
    height: 28px;
    width: 297px;
}

.footer-right-list img {
    height: 28px;
    width: 28px;
}